body {
  width: 700px;
  margin: 0 auto;
  padding: 100px 0;

  font-family: serif;

  background-color: #eee;
}
h {
  text-align: center;
  color: #646464;
  font-weight: normal;
}
h1 {
  font-weight: bolder;
  font-size: 70px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
p {
  font-size: 16px;
  color: #333;
  text-align: justify;
}
/* END */
